extends layout

block content

    div.jumbotron(class="text-center")

        h2 Welcome to #{title}

        p Login or Register with:

        div#login-toolbar.btn-toolbar(role="toolbar")
            a.btn(href="login" class="btn-default")
                span.glyphicon(class="glyphicon-user" aria-hidden="true") 
                |  Local Login
            a.btn(href="/signup" class="btn-default")
                span.glyphicon(class="glyphicon-user" aria-hidden="true")
                |  Local Signup