extends layout

block content
  
    header#top-header
        h2 #{title}

    div#space-wrapper
        div.content
            h1 Welcome to #{title}

            h2 Soon to come: 

            ul.news
                li a mode to set up decks for UX card sorting
                li saving results
                li analysis of results