doctype html
html
  head
    title= title
    script(type="text/javascript" src="/javascripts/jquery-2.1.4.min.js")
    block script
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    div#modal
