doctype html
html
    head
        title= title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(type="text/javascript" src="/javascripts/jquery-2.1.4.min.js")
        block script
        script(type="text/javascript" src="/javascripts/jquery-ui.min.js")
        script(type="text/javascript" src="/javascripts/jquery.ui.touch-punch.min.js")
        link(rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css") 
        script(type="text/javascript" src="/javascripts/bootstrap.min.js")
        link(rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        nav#app-navbar.navbar(class="navbar-inverse navbar-fixed-top")
            div#app-header.navbar-header
                a#app-home.navbar-brand(href="/profile") 
                    span#app-name UX-Classify
            div.navbar-collapse(class="collapse")
                div.navbar-right
                    if user
                        span#user-email #{user.local.email}
                        a#logout-button.btn(href="/logout" class="btn-sm")
                            span.glyphicon(class="glyphicon-log-out" aria-hidden="true")
                            |  Logout
                        if user.isAdmin
                            a#decks-button.btn(href="/decks" class="btn-sm")
                                span.glyphicon(class="glyphicon-cog" aria-hidden="true")
                                |  Decks
                            a#decks-button.btn(href="/projects" class="btn-sm")
                                span.glyphicon(class="glyphicon-stats" aria-hidden="true")
                                |  Sessions
                    block header

        div#content-container.container
            block content

        block modal
