extends layout

block header
    span#user-email #{user.local.email}
    a#logout-button.btn(href="/logout" class="btn-default btn-sm") Logout

block content
    h3  Available Experiments:
    div#experiments.row
        each experiment, i in experiments
            a(href="/projects/#{experiment.project}/#{experiment._id}/new")
                div.experiment(class="col-sm-3")
                    div(class="text-center") #{experiment.name}
                
                
