html, body { height: 100%; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display:flex;
  flex-direction:column;
  /*background-color:#E7E7E7;*/
  background-color:#8FAFC2;
  padding: 0px;
  margin:40px 0px 0px 0px;
  outline-style: none;
  padding-top: 50px;
}

a {
  color: #00B7FF;
}

#app-navbar {
  background-color:#4086A5;
  line-height:5px;
}

#top-header h2 {
  padding-left:10px;
}

#app-home {
  width:140px;
  display:block;
}

#app-name {
  font-weight: bold;
  color:#ffffff;
}

#user-email {
  color:white;
  font-weight: bold;
  line-height: 50px;
  margin-right: 10px;
}

#app-navbar .navbar-right .btn {
  margin-right:10px;
}


#app-navbar .navbar-right .btn:last-child {
  margin-right:30px;
}

.btn {
  color:#ffffff;
  background-color:#63b672;
  transition:all 0.5s;
}

.btn:hover{
  color:#ffffff;
  background-color:#12BD9C;
}

#login-toolbar {
  display: inline-block;
}

#modal {
  display:none;
  position: absolute;
}


/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

/*#page-wrapper {
  display:flex;
  flex-direction:row;
}*/

#session-wrapper,
#deck-wrapper {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
}

#session-actions,
#deck-actions {
  padding:10px 15px;
  background-color: #3F474A;
}

#session-actions .btn ,
#deck-actions .btn {
    margin-left: 10px;
}

#session-actions h2,
#deck-actions h2 {
  margin:0px;
  display: inline-block;
  color:#AEAEAE;
}

#sorting-space {
  /*flex:1;*/
  background-color:#515D62;
  min-height:calc(100vh - 50px);
  height:100%;
  padding:10px;
  transition:0.5s all;
}

#sorting-space.over {
  background-color:#283237;
}

#flex-wrapper {
  display:flex;
  flex-direction:row;
}

#left-content {
  flex:1;
}

#left-content h1,
#left-content h2,
#left-content h3 {
    padding:10px;
}

#right-sidebar {
  min-height: 100vh;
  width:250px;
  display:block;
  background-color:#728993;
}

#deck-session-sidebar,
#deck-management-sidebar {
  min-height:100vh;
  width:100%;
  transition:0.5s all;
}

#deck-session-sidebar.over,
#deck-management-sidebar.over {
  background-color:#30444D;
}

#right-sidebar h1,
#right-sidebar h2,
#right-sidebar h3 {
  text-align: center;
}

.card {
  height:50px;
  background-color: #fefefe;
  text-align: center;
  margin: 1px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 2px;
  cursor: move;
}

.card .header,
.card .footer,
.card .count {
  display:none;
}

.group.over > .group-name,
.card .word,
.card .example {
  pointer-events: none;
}

.card .example {
  color:#A0A0A0;
  font-size:10px;
  line-height: 10px;
}

#all-cards .card {
  background-color:#fefefe;
  float: left;
  text-align: center;
  width: 200px;
  /*height:180px;*/
  border-radius: 2px;
  border:1px solid #e6e6e6;
  margin: 25px;
}

#all-cards .card.selected {
    border: 5px solid greenyellow;
}

.card.sortable {
  background-color:#fefefe;
  float: left;
  text-align: center;
  width: 200px;
  /*height:180px;*/
  border-radius: 2px;
  border:1px solid #e6e6e6;
  margin: 25px;
  display:flex;
  flex-direction:column;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
}

.card.sortable.over {
  border: 2px dashed #000;
}

.card.sortable.moving {
  opacity: 0.25;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

/*.card.sortable .header {
  color: #000000;
  background: #ffffff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 5px;
  display:block;
}

.card.sortable .content {
  flex:1;
  padding:5px;
  font-size:18px;
  height:40px;
}

.card.sortable .footer {
  color: #000000;
  background: #ffffff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 5px;
  bottom:0px;
  display:block;
}*/

.card.sortable .footer .option {
  display:inline-block;
  padding-right:5px;
}

.group {
  margin:25px;
  display:inline-block;
  border-width: 4px 0px 0px 0px;
  border-style: solid;
  min-height: 168px;
}

.group.odd {
  background-color:#fefefe;
}

.group.even {
  background-color:#eaeaea;
}

.group input {
  margin-left:25px;
  margin-top:25px;
  border:none;
  height:35px;
  font-size:25px;
  display:block;
}

.group.odd > input {
  background-color:#fefefe;
}

.group.even > input {
  background-color:#eaeaea;
}

.group.over {
  background-color:#999999;
  border-width:4px;
  border-style:dashed;
}

.group.over .group-name {
  background-color:#999999;
}

.card + .delete-group {
  display: none;
}

.delete-group {
  background-color:#ff5c5c;
  padding:5px;
  border:4px solid #ffffff;
  color:#ffffff;
  font-weight: bold;
  font-size:18px;
  display:none;
}

#new-btn {
  color:#ffffff;
  background-color:#63b672;
  padding:3px 10px;
  border-radius:2px;
  height:20px;
  display: inline-block;
  line-height:20px;
  margin-top: -10px;
  margin-right: 10px;
  cursor:pointer;
  text-decoration: none;
}

#create-btn {
  color:#ffffff;
  background-color:#63b672;
  padding:3px 10px;
  border-radius:2px;
  height:20px;
  line-height:20px;
  cursor:pointer;
  margin:5px;
  font-size:16px;
  display:inline-block;
}

#new-btn:hover,
#create-btn:hover {
  background-color:#12BD9C;
}

/* PROJECTS */

.project {
  display:inline-block;
  width:150px;
  height:75px;
  background-color:#FEFEFE;
  margin:15px;
  vertical-align: top;
  text-align: center;
  line-height: 75px;
  border-radius:2px;
  font-size:18px;
}

.project:hover {
  cursor: pointer;
  background-color:#DFDFDF;
}

input.project-name {
  border:none;
  height:25px;
  font-size:20px;
  text-indent: 5px;
  display:block;
  float:right;
  margin-top: -10px;
  margin-right: 10px;
}

.project .name {
  line-height: 14px;
  display:inline-block;
  vertical-align: middle;
}

/* EXPERIMENTS */

.experiment {
  display:inline-block;
  width:150px;
  height:75px;
  background-color:#FEFEFE;
  margin:15px;
  vertical-align: top;
  text-align: center;
  /*line-height: 75px;*/
  vertical-align: middle;
  border-radius:2px;
  font-size:18px;
}

.experiment:hover {
  cursor: pointer;
  background-color:#DFDFDF;
}

#new-form {
  width:150px;
}

#new-form input {
  border:none;
  height:25px;
  font-size:20px;
  text-indent: 5px;
  display:inline-block;
}

.decks .deck .name {
  line-height: 14px;
  display:inline-block;
  vertical-align: middle;
}

/* DECKS */

.decks .deck {
  display:inline-block;
  width:150px;
  height:75px;
  background-color:#FEFEFE;
  margin:15px;
  vertical-align: top;
  text-align: center;
  line-height: 75px;
  border-radius:2px;
  font-size:18px;
}

.decks .deck:hover {
  cursor: pointer;
  background-color:#DFDFDF;
}

input.deck-name {
  border:none;
  height:25px;
  font-size:20px;
  text-indent: 5px;
  display:block;
  float:right;
  margin-top: -10px;
  margin-right: 10px;
}

.deck .name {
  line-height: 14px;
  display:inline-block;
  vertical-align: middle;
}