html, body { height: 100%; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display:flex;
  flex-direction:column;
  background-color:#E7E7E7;
  padding: 0px;
  margin:40px 0px 0px 0px;
}

a {
  color: #00B7FF;
}


#top-header {
  height:40px;
  background-color:#4086A5;
  width:100%;
  position: fixed;
  top:0px;
  left:0px;
  color:#ffffff;
  line-height:5px;
}

#top-header h2 {
  padding-left:10px;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#space-wrapper {
  display:flex;
  flex-direction:row;
}

#sorting-space {
  flex:1;
  background-color:#515D62;
  min-height:calc(100vh - 40px);
  height:100%;
  transition:0.5s all;
}

#sorting-space.over {
  background-color:#283237;
}


#right-sidebar {
  width:250px;
  display:block;
  background-color:#728993;
}

#right-sidebar.over {
  background-color:#30444D;
}

.card {
  height:50px;
  background-color:#fefefe;
  text-align: center;
  margin:1px;
  font-size:16px;
  line-height: 50px;
  border-radius: 2px;
  cursor: move;
}

.card .header,
.card .footer,
.card .count {
  display:none;
}

.card.sortable {
  background-color:#fefefe;
  float: left;
  text-align: center;
  width: 250px;
  /*height:180px;*/
  border-radius: 2px;
  border:1px solid #e6e6e6;
  margin: 25px;
  display:flex;
  flex-direction:column;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
}

.card.sortable.over {
  border: 2px dashed #000;
}

.card.sortable.moving {
  opacity: 0.25;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

/*.card.sortable .header {
  color: #000000;
  background: #ffffff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 5px;
  display:block;
}

.card.sortable .content {
  flex:1;
  padding:5px;
  font-size:18px;
  height:40px;
}

.card.sortable .footer {
  color: #000000;
  background: #ffffff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 5px;
  bottom:0px;
  display:block;
}*/

.card.sortable .footer .option {
  display:inline-block;
  padding-right:5px;
}

.group {
  margin:25px;
  display:inline-block;
  border-width: 4px 0px 0px 0px;
  border-style: solid;
  min-height: 168px;
}

.group.odd {
  background-color:#fefefe;
}

.group.even {
  background-color:#eaeaea;
}

.group input {
  margin-left:25px;
  margin-top:25px;
  border:none;
  height:35px;
  font-size:25px;
  display:block;
}

.group.odd > input {
  background-color:#fefefe;
}

.group.even > input {
  background-color:#eaeaea;
}

.group.over {
  background-color:#999999;
  border-width:4px;
  border-style:dashed;
}

.card + .delete-group {
  display: none;
}

.delete-group {
  background-color:#ff5c5c;
  padding:5px;
  border:4px solid #ffffff;
  color:#ffffff;
  font-weight: bold;
  font-size:18px;
  display:none;
}

#save-btn {
  color:#ffffff;
  background-color:#63b672;
  padding:3px;
  border-radius:2px;
  height:20px;
  float:right;
  line-height:20px;
  margin-top: -10px;
  margin-right: 10px;
  cursor:pointer;
}