html
head
    title

body
    div
        table(border="0" cellpadding="10" cellspacing="1" style="width: 500px;")
            tbody
                tr
                    td
                        strong
                            span(style="font-family: arial,helvetica,sans-serif;color:#696969;") User Experience (UX) Research
                tr
                    td
                        div
                            span(style="font-family:arial,helvetica,sans-serif;")
                                p Hello,
                                p You are receiving this because you (or someone else) have requested the reset of the password for your account.
                                p Please click on the following link, or paste this into your browser to complete the process:
                                p http://#{globals[0].host}/reset/#{globals[0].token} 
                                p If you did not request this, please ignore this email and your password will remain unchanged.
                tr
                    td
                        strong
                            span(style="font-family: arial,helvetica,sans-serif;color:#696969;font-size: 10px;") Powered by UX-Classify