html
head
    title

body
    div
        table(border="0" cellpadding="10" cellspacing="1" style="width: 500px;")
            tbody
                tr
                    td
                        strong
                            span(style="font-family: arial,helvetica,sans-serif;color:#696969;") User Experience (UX) Research
                tr
                    td
                        div
                            span(style="font-family:arial,helvetica,sans-serif;")
                                p Hello,
                                p This is a confirmation that the password for your account (#{globals[0].user.local.email}) has just been changed.
                tr
                    td
                        strong
                            span(style="font-family: arial,helvetica,sans-serif;color:#696969;font-size: 10px;") Powered by UX-Classify